<div class="navbar-lewagon">
<%= image_tag "film_reel.png", height: 36 %>
<%= link_to 'Back to all lists', lists_path %>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/random')">
  <%= @list.name %><br>
</div>

<%# <div class="d-flex flex-wrap justify-content-around"> %>
<div class="row">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card-trip my-3">
        <% movie = Movie.find(bookmark.movie_id) %>
        <%= image_tag "#{movie.poster_url}" %>
        <div class="card-infos">
          <div>
            <h2><%= movie.title %></h2>
            <p><%= bookmark.comment  %></p>
          </div>
          <p class="card-delete"><%= link_to 'Delete this bookmark', bookmark_path(bookmark), method: :delete, data: { confirm: "Delete?" } %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%# </div> %>

<div class="container">
  <h3>Add a bookmark to this list</h3>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, label_method: :title, value_method: :id, input_html: { data: { controller: 'select2' }}%>
    <%= f.input :comment %>
    <%= f.button :submit %>
  <% end %>

</div>

<%= link_to 'Back', lists_path %>
